body.login-body:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #4caf50;
    content: "";
    z-index: 0;
}

body.login-body:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}

.alert-danger {
    padding: 15px;
    font-size: 16px;
    background-color: #f2dede;
    border-color: #f2dede;
    color: #f44336;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}
.alert-normal{
	padding: 15px;
    font-size: 16px;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    color: #2196f3;    
}

.inline-header {
	display: inline-block;
}

.card-header .btn {
	margin-top: 7px;
	float: right;
}

.logo{
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #3C4858;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: 992px){
	.login-block {
	    margin: 0 auto;
	    float: none !important;
	}
}